@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
@import "~formiojs/dist/formio.full.min.css";
@import "~@tsed/tailwind-formio/styles/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  margin: 0;
  width: 100%;
}

.viewButton {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #494daf;
  border-radius: 4px;
  opacity: 1;
}
.applyButton {
  text-align: center;
  font: normal normal medium 12px/15px Inter;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.enrolledButton {
  background: #c7ebd1 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}
.notAppliedButton {
  background: #dce3e8 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}
.draftButton {
  background: #dce3e8 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}
.submittedButton {
  background: #faf6cf 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}
.completedButton {
  background: #4caf50 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}

.appliedButton {
  background: #ff9800 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}

/* .inProgressButton {
  background: #2196f3 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
} */
.rejectedButton {
  background: #f44336 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}
.rowElement {
  text-align: left;
  font: normal normal 600 13px/16px Inter;
  letter-spacing: 0px;
  color: #494daf;
  opacity: 1;
}
.snoElement {
  text-align: left;
  font: normal normal normal 13px/16px Inter;
  letter-spacing: 0px;
  color: #535353;
  opacity: 1;
}
.buttonElement {
  text-align: center;
  font: normal normal medium 12px/15px Inter;
  letter-spacing: 0px;
  color: #075e45;
  opacity: 1;
}
.columnTitle {
  text-align: left;
  font: normal normal 600 13px/16px Inter;
  letter-spacing: 0px;
  color: #646464;
  opacity: 1;
}
.shift-right {
  margin-left: 20px;
}

.noteligibleButton {
  background: #e0e0e0;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  cursor: not-allowed;
  opacity: 1;
}

.tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  z-index: 9999;
}

.chat-icon-container {
  position: relative;
  right: 0px;
  left: 1300px;
  z-index: 1;
  margin-top: 0px;
}

.chat-icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.chat-popup {
  position: absolute;
  bottom: 6px;
  left: 1px;
  width: 300px;
  transform: translateX(-100%);
  background: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

/* @media (min-width: 1024px) {
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
} */

/* .pagination {
  display: flex;
  list-style: none;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  align-items: center;
  padding: 0;
  margin-top: 40px;

  li {
    a {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 10px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &.active {
      a {
        font-weight: bold;
        text-decoration: underline;
        pointer-events: none;
      }
    }
  }
} */
