@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import '~formiojs/dist/formio.full.min.css';
@import '~bootstrap/dist/css/bootstrap.css';



@tailwind base;
@tailwind components;
@tailwind utilities;


html,body{
  overflow-x: hidden;
  margin: 0;
  width:100%;
  
}

